<nav class="pv3 ph3 ph4-ns bg-black-90" role="navigation">
  <div class="flex justify-between items-center center">
    <div class="flex items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 green no-underline white-90 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "ml3" "mr3" }}">
          {{ with .Site.Params.site_logo }}
            <img src="{{ relURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
          {{ else }}
            {{ .Site.Title }}
          {{ end }}
        </a>
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
          {{ range .Site.Menus.main }}
            <li class="list f5 f5-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
              <a class="green no-underline white-90" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>

    <!-- Hamburger Icon -->
    <button id="menu-toggle" class="ml3 flex items-center pa2 bg-transparent bn  green pointer z-999">
      <svg class="w2 h2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path class="hamburger-line-top" stroke-linecap="round" d="M4 6h16" />
        <path class="hamburger-line-bottom" stroke-linecap="round" d="M4 18h16" />
      </svg>
    </button>
  </div>

  <!-- Fullscreen-Dropdown -->
  <div id="fullscreen-dropdown" class="fullscreen-dropdown">
    <div class="fullscreen-dropdown-content">
      <div class="dropdown-content-inner">
        {{ if .Site.Menus.main }}
          <ul class="pl0 list">
            {{ range .Site.Menus.main }}
              <li class="pv3">
                <a class="hover-white green no-underline white-90" href="{{ .URL }}">
                  {{ .Name }}
                </a>
                {{ if .HasChildren }}
                  <ul class="pl0 mt2">
                    {{ range .Children }}
                      <li class="pv2">
                        <a class="hover-white green no-underline white-80" href="{{ .URL }}">
                          {{ .Name }}
                        </a>
                      </li>
                    {{ end }}
                  </ul>
                {{ end }}
              </li>
            {{ end }}
          </ul>
        {{ end }}
       
          {{ partialCached "social/share.html" . }}
       
       
      </div>
    </div>
  </div>
</nav>
<script>
document.addEventListener("DOMContentLoaded", function() {
  const toggleButton = document.getElementById('menu-toggle');
  const dropdown = document.getElementById('fullscreen-dropdown');

  // Toggle Dropdown mit Animation
  toggleButton.addEventListener('click', () => {
    toggleButton.classList.toggle('active');
    dropdown.classList.toggle('active');
  });

  // Schließen des Menüs bei Klick außerhalb der Links
  document.addEventListener('click', (e) => {
    const isClickInsideDropdown = dropdown.contains(e.target);
    const isClickOnToggleButton = toggleButton.contains(e.target);

    if (!isClickInsideDropdown && !isClickOnToggleButton) {
      closeMenu();
    }
  });

  // Schließen des Menüs beim Scrollen
  window.addEventListener('scroll', () => {
    closeMenu();
  });

  // Schließen des Menüs bei Klick auf einen Link im Dropdown
  const dropdownLinks = dropdown.querySelectorAll('a');
  dropdownLinks.forEach(link => {
    link.addEventListener('click', () => {
      closeMenu();
    });
  });

  // Funktion zum Schließen des Menüs
  function closeMenu() {
    toggleButton.classList.remove('active');
    dropdown.classList.remove('active');
  }
});
</script>
